@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
}

:root {
    --big-stone-black: #112034;
    --wedgewood-blue: #457b9d;
    --frost-white: #f4fbf1;
    --aqua-island-light-blue: #a8dadc;
    --amaranth-red: #e63946;
    --amaranth-light-red: #fb9099;
    --white: #ffffff;
    --black: #000000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amaranth-red);
    text-decoration: none;
    color: var(--frost-white);
    font-weight: 500;
    font-size: 15px;
    padding: 6px 20px;
    transition: 0.5s;
    border: 1px solid rgba(var(--big-stone-black), 0.8);
    border-radius: 15px;
}

.btn:hover {
    color: var(--bl);
    background-color: var(--amaranth-light-red);
}

/* Start of Nav */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    background-color: var(--frost-white);
    padding: 0 5%;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.navContainer .logo {
    padding-top: 8px;
}

.navContainer img {
    height: 3rem;
}

.navContainer .menu a {
    text-decoration: none;
    margin-right: 40px;
    color: var(--big-stone-black);
    font-weight: 500;
    font-size: 15px;
    /* transition: 0.5s; */
}

.btnContainer {
    right: 0;
    justify-content: flex-end;
}

/* End of Nav */

/* index */

.heroContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px; 
    height: 100vh;
}

.heroContainer h1 {
    font-family: "Oswald", sans-serif;
    font-size: 120px;
}
/* End of index */