@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --big-stone-black:  #00000055;
    --wedgewood-blue: #457b9d;
    --frost-white: #f4fbf1;
    --aqua-island-light-blue: #a8dadc;
    --main-color: #ede32c;
    --secondary-color: #dfd519;
    --white: #ffffff;
    --black: #000000;

    --main-font: "Satoshi", sans-serif;
    --secondary-font: "Anton", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--black);
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(-49deg, #a8dadc, #f4fbf1, #457b9d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 90vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    flex: 1;
}

.page-logo {
    margin: 0;
    height: 1%;
}

.page-logo img {
    max-height: 5rem;
    height: 5rem;
}

.container .contant-info {
    padding-top: 1rem;
}

p {
    font-family: var(--main-font);
    font-size: .9rem;
}

.banner {
    background-color: var(--big-stone-black);
    padding: .7rem 0;
    margin-bottom: 2rem;
}

h1 {
    margin-top: .5rem;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 5rem;
    background-color: var(--main-color);
}

h2 {
    font-family: var(--main-font);
    font-weight: 450;
    font-size: 1.7rem;
}

h3 {
    font-family: var(--main-font);
    font-size: 1.2rem;
}

.btn {
    font-size: 1rem;
    background-color: var(--main-color);
    border-color: var(--secondary-color);
    margin-bottom: .8rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.fa-linkedin, .fa-facebook, .fa-github {
    text-decoration: none;
    font-size: 25px;
    color: var(--black);
    margin: 0 10px 0 10px;
    transition: color 0.3s ease;
}

.fa-linkedin:hover, .fa-facebook:hover, .fa-github:hover {
    color: var(--main-color);
}

footer {
    padding: 1em 0;
}

@media (max-width: 1024px) {
    .container {
        padding-top: 3rem;
    }
    
    .banner {
        padding: .35rem 0;
        margin-bottom: 2rem;
    }
    
    .container .contant-info {
        padding-top: 28rem;
    }

    .page-logo {
        margin-top: 1rem;
    }

    p {
        font-size: 1.5rem;
    }

    .banner h1 {
        font-size: 4rem;
        padding: .6rem;
    }
    
    .h2 {
        font-size: 1.7rem;
    }

    footer {
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding-top: 3rem;
    }

    .banner {
        padding: .35rem 0;
        margin-bottom: 2rem;
    }
    
    .container .contant-info {
        padding-top: 3rem;
    }

    .page-logo {
        margin-top: 10rem;
    }

    p {
        font-size: .7rem;
    }

    .banner h1 {
        font-size: 1.5rem;
        padding: .6rem;
    }

    footer {
        padding-top: 0;
    }
}
